.left-cont {
    /* position: relative; */
    width: 27.5vw;
    height: 100%;
    background-color: #121212;
    border-radius: 9px;
    margin-left: 5px;
    overflow: auto;
}

.left-header-cont {

    position: sticky;
    /* top: 0; */
    height: 13%;
    width: 100%;
    /* box-shadow: offset-x offset-y blur-radius color; */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.741);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

.find-artist {
    padding: 10px 15px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.find-artist:hover {
    background-color: #333333a0;
}


.create-playlist {
    padding: 5px 15px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.create-playlist:hover {
    background-color: #333333a0;
}

.create-playlist img {
    width: 20px;
    filter: invert(1);
    padding-top: 4px;
}

.left-main-cont {
    height: 87%;
    width: 100%;
    padding-left:8px ;
    padding-right:0px ;
    padding-top:5px ;
    padding-bottom:5px ;
    overflow-y: auto;
}


.artist-cont {
    height: 14%;
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #121212;
    padding-left: 8px;
}


.artist-cont:hover {
    background-color: #212121c4;
}

.artist-image-cont {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    overflow: hidden;
}

.artist-image-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-detail-cont {
    height: 100%;
    width: 75%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.name-cont {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.profession-cont {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(179, 179, 179);

}

.visualizer-cont {
    width: 10%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualizer-cont img {
    width: 20px;
    opacity: 1;
}

@media (max-width: 1500px) {
    .artist-search-cont {
        height: 10%;
        width: 100%;
    }

    .artist-cont {
        height: 10%;
        width: 100%;
    }

    .artist-image-cont {
        height: 50px;
        width: 50px;
    }
}


.left-main-cont::-webkit-scrollbar {
    width: 12px;
    /* width of scrollbar */
    background-color: #595959;
}

.left-main-cont::-webkit-scrollbar-track {
    background: #121212;
    /* background of scrollbar track */
}

.left-main-cont::-webkit-scrollbar-thumb {
    background-color: #595959;
    /* color of the scrollbar handle */
}

.left-main-cont::-webkit-scrollbar-thumb:hover {
    background-color: #939393;
}



.artist-search-cont {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.search-logo-cont {
    height: 34px;
    width: 34px;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.search-logo-cont:hover {
    background-color: #3f3f3fad;
}

.search-logo-cont img {
    width: 17.5px;
    filter: invert(0.8);
    transition: filter 0.2s ease;
}

.search-logo-cont:hover img {
    filter: invert(1);
}


.recents-image {
    width: 17px;
    filter: invert(0.7);
    transition: width 0.1s ease, filter 0.1s ease;
}


.recents-button-cont {
    display: flex;
    column-gap: 7px;
    cursor: pointer;
}

.recent-text {
    font-size: 14px;
    color: rgb(179, 179, 179);
    font-weight: 400;
    transition: font-size 0.1s ease, color 0.1s ease;
}

.recents-button-cont:hover .recent-text {
    font-size: 15px;
    color: white;
}

.recents-button-cont:hover .recents-image {
    width: 17.5px;
    filter: invert(1);
}