@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    width: 100%;
}

main {
    height: 78vh;
    width: 100vw;
    display: flex;
}

@media (max-width:1000px) {
    .left-cont {
        display: none;
    }

    .right-cont {
        flex-basis: 100%;
    }

    .logo-text{
        display: none;
    }

}


@media (max-width:768px) {
    .bell-cont{
        display: none;
    }
}


