@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;

}

main {
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .left-cont {
        display: none;
    }
    .right-cont {
        width: 100%;
    }
}

/* @media (max-width: 1000px) {
    .left-cont {
        display: none;
    }
}

@media (max-width: 1000px) {
    .right-cont {
        width: 100%;
    }
} */